/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Karma', Times, Arial, Helvetica, sans-serif;
  color: #dec79b;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', Times, Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
}
a {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 800;
  font-family: 'Quicksand', Times, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    background-color: peachpuff;
  }
}
.navBorder {
  width: 100%;
  background: #18181e;
}
.navBar {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
}
.navBar .navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  padding-bottom: 10px;
}
.navBar .navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar .navLinks a {
  color: #dec79b;
  text-decoration: none;
}
.navBar .navLinks a:hover {
  color: #F2E750;
}
footer {
  color: #dec79b;
  background: #18181e;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  background-color: #18181e;
}
.home .intro .man-dead-lift-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .ourApp h2 {
  padding: 15px;
}
.home .ourApp p {
  padding: 0 15px;
}
.home .howWorks h2 {
  padding: 15px;
}
.home .howWorks p {
  padding: 0 15px;
}
.home .betterThan h2 {
  padding: 15px;
}
.home .betterThan p {
  padding: 0 15px;
}
.home .signup h2 {
  padding: 15px;
}
.home .signup p {
  padding: 0 15px;
}
.home .btn {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #dec79b;
  background-color: #dec79b;
  border: none;
  border-radius: 15px;
}
.home .btn:hover {
  background-color: #d9a036;
  color: #fffefc;
}
.home .btn:active {
  background-color: #18181e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.home {
  background-color: #18181e;
}
.home .aboutUs .aboutUs-text h2 {
  padding: 15px;
}
.home .aboutUs .aboutUs-text p {
  padding: 0 15px;
}
.home .developers {
  display: flex;
  color: #fffefc;
  padding: 15px;
  text-align: center;
  background-color: #d9a036;
}
.home .developers .mem {
  display: flex;
  flex-direction: column;
  margin: 1%;
}
.home .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .contact p {
  padding: 0 15px;
}
