.home {
  background-color: @slightblack;

  .aboutUs {
    .aboutUs-text {
      h2 {
        padding: 15px;
      }

      p {
        padding: 0 15px;
      }
    }
  }

  .developers {
    display: flex;

    color: @creamewhite;
    padding: 15px;
    text-align: center;
    background-color: @deusexorange;
    .mem {
      display: flex;
      flex-direction: column;

      margin: 1%;
    }
  }

  .contact {
    .flex-nav(center, center);
    p {
      padding: 0 15px;
    }
  }
}
